@media (max-height: 700px) {
  .float-img {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 70px;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #7474b5;
  color: white;
  font-size: 16px;
  z-index: 1000;

  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d8d1bf;
  color: black;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  background-color: #1b0a2e;
  color: white;
  padding: 10px;
  min-height: 50px;
  font-size: clamp(0.9rem, 2.2vw, 1.2rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width:98%;
  table-layout: fixed;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

td, th {
  border: 1px solid #999;
  padding: 12px 20px;
  text-align: center;
}

header h1,
header nav {
  padding: 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1em;
  max-width: 100%;
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}

nav a.active {
  color: white;
}

h1 {
  color: black
}

.leaderboard-page {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/Digital_money_illustration_20180111.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  color: white;
}

.leaderboard-page h2 {
  text-align: center;
  margin: 20px 0;
}

.leaderboard-page section p {
  max-width: 98%;
  margin: 0 auto 10px auto;
  text-align: center;
  font-style: italic;
}

.float-img {
  float: right;
  margin: 0 15px 15px 0;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

.header-left {
  font-weight: bold;
  font-size: 1.2em;
}

section:nth-child(1) {
  flex: 1;
}

section:nth-child(2) {
  flex: 3;
}