body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

footer {
  background-color: lightskyblue;
  color: white;
  padding: 10px;

  flex: 0 30px;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}